---
import Layout from '../layouts/Layout.astro';
import ReceptesController from '../classes/ReceptesController';
import Recepta from '../components/Recepta.astro';
// Exemple d'ús:

const receptesController = new ReceptesController();

const receptes = await receptesController.getAllReceptes();
/* receptes té el format:
{
    list: [
      {
        Id: 1,
        nom: 'ous amb bacon',
        CreatedAt: '2024-02-01 09:44:44+00:00',
        UpdatedAt: '2024-02-01 09:46:32+00:00',
        foto: 'https://baconmockup.com/400/300/',
        descripcio: 'Ingredients:\n' +
          '* Dos ous\n' +
          '* Unes llesques de bacon\n' +
          'Preparació:\n' +
          '* Fregir el bacon amb oli d\'oliva a foc mig fins que quedi torradet.\n' +
          '* Fregir els ous amb oli abundant.\n' +
          ' \n' +
          ' '
      },
	  {
		...
	  }
         ],
    pageInfo: {
      totalRows: 2,
      page: 1,
      pageSize: 25,
      isFirstPage: true,
      isLastPage: true
    }
  }
*/
---

<Layout title='Mis Recetas'>
  <a href='/receptes/nova'
    ><button
      class='px-3 py-2 border-green-500 border rounded-md text-green-500 hover:bg-green-500 hover:text-white mb-5'
      >Nova recepta</button
    ></a
  >
  <div class='grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-10'>
    {receptes.list.map((e) => <Recepta dades={e} />)}
  </div>
</Layout>
