---
import Layout from '../layouts/Layout.astro';
import ReceptesController from '../classes/ReceptesController';
import Recepta from '../components/Recepta.astro';

if (Astro.cookies.has('usuari')) {
} else {
  return Astro.redirect('/Login');
}

const usuarioName = Astro.cookies.get('usuari');
const receptesController = new ReceptesController();
const receptes = await receptesController.getAllReceptes(usuarioName);
---

<Layout title='Mis Recetas'>
  <div
    class='flex justify-center items-center align-bottom pt-5 h-80 bg-cover'
    style="background-image: url('/img/restaurante.jpg');"
  >
    <div class='relative'>
      <div class='absolute -inset-2 bg-[#1F2937] rounded-lg blur-lg bottom-3'>
      </div>
      <a href='/receptes/nova'>
        <button
          class='relative px-3 py-2 border-none rounded-lg text-[#338AC6] bg-[#1F2937] hover:shadow-inner hover:text-white mb-5'
          >Nova recepta</button
        ></a
      >
    </div>
  </div>
  <div class='bg-[#CCDCE5]'>
    <div
      class='grid sm:grid-cols-1 md:grid-cols-1 xl:grid-cols-3 gap-20 px-8 py-10'
    >
      {receptes.map((e) => <Recepta dades={e} />)}
    </div>
  </div>
</Layout>
